
<ion-header>
 <ion-navbar color="gold" mode="ios">
 	<ion-buttons start>
 		<button ion-button (click)="onClickClose()" style="font-size:2.3rem"><ion-icon name="arrow-dropdown-circle"></ion-icon></button>
 	</ion-buttons>
 	<ion-title>Settings</ion-title>
	<ion-buttons end>
    	<button outline ion-button (click)="onClickAbout()" ion-text color="dark">
    		About
    	</button>
    </ion-buttons>
 </ion-navbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-list-header mode="ios"><ion-icon name="navigate" color="primary"></ion-icon>&nbsp;Geolocation</ion-list-header>
		<ion-card mode="ios">
			<button ion-button full round [disabled]="isResettingOdometer" (click)="onClickResetOdometer()" ion-text color="default">Reset Odometer</button>
		</ion-card>
	  	<ion-item>
	    	<ion-label color="primary">trackingMode</ion-label>
	    	<ion-select [(ngModel)]="state.trackingMode" (ionChange)="onChangeValue('trackingMode')" multiple="false">
	    		<ion-option *ngFor="let option of trackingModeOptions" value="{{option}}" selected="{{option == state.trackingMode}}">
	    			{{option}}
	    		</ion-option>
	    	</ion-select>
	  	</ion-item>

	  	<ion-item *ngFor="let setting of bgService.getPlatformSettings('geolocation')">
	  		<ion-label color="primary">{{setting.name}}</ion-label><span>foo</span>
	  		<ion-toggle *ngIf="setting.inputType == 'toggle'" [(ngModel)]="state[setting.name]" (ionChange)="onChangeValue(setting.name)" color="secondary"></ion-toggle>
	  		<ion-select *ngIf="setting.inputType == 'select'" [(ngModel)]="state[setting.name]" (ionChange)="onChangeValue(setting.name)" multiple="false">
	    		<ion-option *ngFor="let option of bgService.getOptionsForSetting(setting.name)" value="{{option}}" selected="option == state[setting.name">
	    			{{option}}
	    		</ion-option>
	    	</ion-select>
	  	</ion-item>

	  	<ion-list-header mode="ios"><ion-icon name="walk" color="primary"></ion-icon>&nbsp;Activity Recognition</ion-list-header>

	  	<ion-item *ngFor="let setting of bgService.getPlatformSettings('activity_recognition')">
	  		<ion-label color="primary">{{setting.name}}</ion-label>
	  		<ion-toggle *ngIf="setting.inputType == 'toggle'" [(ngModel)]="state[setting.name]" (ionChange)="onChangeValue(setting.name)" color="secondary"></ion-toggle>
	  		<ion-select *ngIf="setting.inputType == 'select'" [(ngModel)]="state[setting.name]" (ionChange)="onChangeValue(setting.name)" multiple="{{setting.multiple==true}}">
	    		<ion-option *ngFor="let option of bgService.getOptionsForSetting(setting.name)" value="{{option}}" selected="option == state[setting.name">
	    			{{option}}
	    		</ion-option>
	    	</ion-select>
	  	</ion-item>

	  	<ion-list-header mode="ios">
	  		<ion-icon name="cloud-upload" color="primary"></ion-icon>&nbsp;HTTP &amp; Persistence
	  	</ion-list-header>

	  	<ion-card mode="ios">
	  		<button ion-button full round [disabled]="isSyncing" (click)="onClickSync()" color="danger">
	  			<ion-spinner [hidden]="!isSyncing" name="dots" color="light"></ion-spinner>
	  			<span [hidden]="isSyncing">Sync</span>
	  		</button>
	  		<ion-item>
	  			<ion-input [(ngModel)]="state.url" (ionBlur)="onUpdateUrl()" type="url" placeholder="http://your.server.com/endpoint"></ion-input>
	  		</ion-item>
	  	</ion-card>

	  	<ion-item *ngFor="let setting of bgService.getPlatformSettings('http')">
	  		<ion-label color="primary">{{setting.name}}</ion-label><span>foo</span>
	  		<ion-toggle *ngIf="setting.inputType == 'toggle'" [(ngModel)]="state[setting.name]" (ionChange)="onChangeValue(setting.name)" color="secondary"></ion-toggle>
	  		<ion-select *ngIf="setting.inputType == 'select'" [(ngModel)]="state[setting.name]" (ionChange)="onChangeValue(setting.name)" multiple="false">
	    		<ion-option *ngFor="let option of bgService.getOptionsForSetting(setting.name)" value="{{option}}" selected="option == state[setting.name">
	    			{{option}}
	    		</ion-option>
	    	</ion-select>
	  	</ion-item>

	  	<ion-list-header mode="ios">
	  		<ion-icon name="cog" color="primary"></ion-icon>&nbsp;Application
	  	</ion-list-header>

	  	<ion-item *ngFor="let setting of bgService.getPlatformSettings('application')">
	  		<ion-label color="primary">{{setting.name}}</ion-label><span>foo</span>
	  		<ion-toggle *ngIf="setting.inputType == 'toggle'" [(ngModel)]="state[setting.name]" (ionChange)="onChangeValue(setting.name)" color="secondary"></ion-toggle>
	  		<ion-select *ngIf="setting.inputType == 'select'" [(ngModel)]="state[setting.name]" (ionChange)="onChangeValue(setting.name)" multiple="false">
	    		<ion-option *ngFor="let option of bgService.getOptionsForSetting(setting.name)" value="{{option}}" selected="option == state[setting.name">
	    			{{option}}
	    		</ion-option>
	    	</ion-select>
	  	</ion-item>

	  	<ion-item>
	  		<ion-label color="primary">notificationPriority</ion-label>
	 		<ion-select [(ngModel)]="state.notificationPriority" (ionChange)="onChangeValue('notificationPriority')" multiple="false">
    			<ion-option *ngFor="let option of notificationPriorityOptions" value="{{option}}" selected="{{option == state.notificationPriority}}">
    				{{option}}
    			</ion-option>
    		</ion-select>
    	</ion-item>

	  	<ion-list-header mode="ios"><ion-icon name="bug" color="primary"></ion-icon>&nbsp;Logging &amp; Debug</ion-list-header>
	  	<ion-card mode="ios">
	  		<ion-row>
				<ion-col align-self-stretch style="padding-right:5px;">
  					<button ion-button full round color="danger" (click)="onClickDestroyLog()">Destroy log</button>
				</ion-col>
				<ion-col align-self-stretch style="padding-left: 5px;">
					<button ion-button full round (click)="onClickEmailLog()" color="default">Email Log</button>
				</ion-col>
			</ion-row>
	  		<ion-item>
	  			<ion-input [(ngModel)]="email" (blur)="onUpdateEmail()" placeholder="your@email.com" type="email"></ion-input>
	  		</ion-item>
	  	</ion-card>

	  	<ion-item>
	  		<ion-label color="primary">logLevel</ion-label>
	 		<ion-select [(ngModel)]="state.logLevel" (ionChange)="onChangeValue('logLevel')" multiple="false">
    			<ion-option *ngFor="let option of logLevelOptions" value="{{option}}" selected="{{option == state.logLevel}}">
    				{{option}}
    			</ion-option>
    		</ion-select>
    	</ion-item>

	  	<ion-item>
	  		<ion-label color="primary">Sounds &amp; Notification</ion-label>
	  		<ion-toggle [(ngModel)]="state.debug" (ionChange)="onChangeValue('debug')" color="secondary"></ion-toggle>
	  	</ion-item>

	  	<ion-list-header mode="ios"><ion-icon name="radio-button-on" color="primary"></ion-icon>&nbsp;Geofencing (City Drive)</ion-list-header>
	  	<ion-card mode="ios">
			<ion-row>
				<ion-col align-self-stretch style="padding-right:5px;">
  					<button ion-button full round color="danger" (click)="onClickRemoveGeofences()">Clear</button>
				</ion-col>
				<ion-col align-self-stretch style="padding-left: 5px;">
  					<button ion-button full round color="primary" (click)="onClickLoadGeofences()">
  						<ion-spinner [hidden]="!isAddingGeofences" name="dots" color="light"></ion-spinner>
  						<span [hidden]="isAddingGeofences">Load</span>
  					</button>
				</ion-col>
			</ion-row>
		</ion-card>
		<ion-item>
	  		<ion-label color="primary">radius</ion-label>
	  		<ion-select [(ngModel)]="settingsService.applicationState.geofenceRadius" (ionChange)="settingsService.onChange('geofenceRadius')" multiple="false">
    			<ion-option *ngFor="let option of settingsService.geofenceRadiusOptions" value="{{option}}" selected="{{option == settingsService.applicationState.geofenceRadius}}">
    				{{option}}
    			</ion-option>
    		</ion-select>
    	</ion-item>
	  	<ion-item>
	  		<ion-label color="primary">notifyOnEntry</ion-label>
	  		<ion-toggle [(ngModel)]="settingsService.applicationState.geofenceNotifyOnEntry" (ionChange)="settingsService.onChange('geofenceNotifyOnEntry')" color="secondary"></ion-toggle>
	  	</ion-item>
	  	<ion-item>
	  		<ion-label color="primary">notifyOnExit</ion-label>
	  		<ion-toggle [(ngModel)]="settingsService.applicationState.geofenceNotifyOnExit" (ionChange)="settingsService.onChange('geofenceNotifyOnExit')" color="secondary"></ion-toggle>
	  	</ion-item>
	  	<ion-item>
	  		<ion-label color="primary">notifyOnDwell</ion-label>
	  		<ion-toggle [(ngModel)]="settingsService.applicationState.geofenceNotifyOnDwell" (ionChange)="settingsService.onChange('geofenceNotifyOnDwell')" color="secondary"></ion-toggle>
	  	</ion-item>
	  	<ion-item>
	  		<ion-label color="primary">loiteringDelay</ion-label>
	  		<ion-select [(ngModel)]="settingsService.applicationState.geofenceLoiteringDelay" (ionChange)="settingsService.onChange('geofenceLoiteringDelay')" multiple="false">
    			<ion-option *ngFor="let option of settingsService.geofenceLoiteringDelayOptions" value="{{option}}" selected="{{option == settingsService.applicationState.geofenceLoiteringDelay}}">
    				{{option}}
    			</ion-option>
    		</ion-select>
    	</ion-item>

    	<ion-list-header mode="ios"><ion-icon name="radio-button-on" color="primary"></ion-icon>&nbsp;DeviceSettings API</ion-list-header>

    	<ion-card mode="ios">
	  		<button ion-button full round (click)="onClickIgnoreBatteryOptimizations()" color="">Show Ignore Battery Optimizations</button>
	  		<button ion-button full round (click)="onClickPowerManager()" color="">Show Power Manager</button>
	  	</ion-card>


	</ion-list>

</ion-content>