page-simple-map {
	ion-content {
        #map {
            width: 100%;
            height: 100%;
        }
		background-color: #272822 !important;
		pre {
			border-radius: 10px;
			color: #e6db74;
		}
	}
	ion-fab-list {
		button {
			width: 75px;
		}
	}
	ion-footer {
        text-align: center;
	  	ion-title span {	  		
            font-size: 14px;
        }
	}	
}

@-webkit-keyframes highlight {
    0% {
        opacity:1;
        //background-color: yellow;
    }
    22% {
        //background-color: #444;
    }
    77% {
        background-color: yellow;
    }
    100% {
        //background-color: #777;
    }
}

.highlight {
	//color: #cb265e;
    animation-name: highlight;
    animation-duration: 900ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;

    -webkit-animation-name: highlight;
    -webkit-animation-duration: 900ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;   
}