page-home {
    ion-content {
        background-color: #272822 !important;
        h1 {
            color: #fff;
        }
    }
    ion-grid {
        height: 100%;
        justify-content: center;
    }
}
