<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/LongPress.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    
  </head>

  <body ng-app="starter">

    <ion-nav-bar class="bar-light">
        <ion-nav-back-button class="button-clear button-positive icon ion-chevron-left">Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view></ion-nav-view>

    <!-- Map screen -->
    <script id="templates/home.html" type="text/ng-template">

      <ion-view view-title="BG Geolocation">
        <ion-nav-buttons side="left">
          <a class="button button-clear button-positive" ng-click="onClickSettings()">Settings</a>
        </ion-nav-buttons>
        
        <ion-nav-buttons side="right"> 
          <label class="toggle toggle-balanced">
             <input type="checkbox" ng-click="onToggleEnabled()" ng-model="bgGeo.enabled">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-nav-buttons>

        <ion-content scroll="false" data-tap-disabled="true">
          <map on-create="mapCreated(map)"></map>
        </ion-content>

        <ion-footer-bar class="bar-stable">
          <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
          <h1 class="title">{{odometer}}km</h1>
          <div class="buttons align-right">
            <button class="button icon {{startButtonIcon}}" ng-disabled="!bgGeo.enabled" ng-click="onClickStart()" style="width:75px"></button>
          </div>
        </ion-footer-bar>
      </ion-view>
    </script>

    <!-- Setting screen -->
    <script id="templates/settings.html" type="text/ng-template">
      <ion-view title="Settings" class="settings">
        <ion-nav-buttons side="right"> 
          <ion-spinner icon="ios-small" class="" ng-show="isSyncing"></ion-spinner>
          <button class="button button-assertive icon ion-ios-cloud-upload" ng-disabled="isAutoSyncDisabled()" ng-click="onClickSync()">Sync</button>
        </ion-nav-buttons>

        <ion-content scroll="true" class="">
          <ion-list>
            <div class="item item-divider">
              Geoloction Settings
            </div>
            <ion-item ng-repeat="setting in getSettings('geolocation')" ng-click="onSelectSetting()" class="item-icon-right">
              {{ setting.name }}
              <i class="current-value setting-{{setting.name}}">{{ getValue(setting.name) }}</i>
              <i class="icon ion-chevron-right icon-accessory"></i>
              
            </ion-item>

            <div class="item item-divider">
              Application Settings
            </div>
            <ion-item ng-repeat="setting in getSettings('application')" ng-click="onSelectSetting()" item="setting" class="item-icon-right">
              {{ setting.name }}
              <i class="current-value setting-{{setting.name}}">{{ getValue(setting.name) }}</i>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
          </ion-list>

            <div class="item item-divider">
              HTTP Settings
            </div>
            <ion-item ng-repeat="setting in getSettings('http')" ng-click="onSelectSetting()" item="setting" class="item-icon-right">
              {{ setting.name }}
              <i class="current-value setting-{{setting.name}}">{{ getValue(setting.name) }}</i>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
          </ion-list>
        </div>
        </ion-content>
      </ion-view>
    </script>

    <!-- Generic select setting-value list screen -->
    <script id="templates/settings/radio-list.html" type="text/ng-template">
      <ion-view title="{{getSelectedSetting().name}}" class="settings-values">
        <ion-content class="">
          <div class="list">
            <ion-radio ng-model="getConfig()[this.getSelectedSetting().name]" ng-value="value" ng-repeat="value in getSettingValues()" ng-change="onSelectValue()" class="radio-positive">
              {{value}}
            </ion-radio>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <!-- #url Setting template -->
    <script id="templates/settings/url.html" type="text/ng-template">
      <ion-view title="HTTP URL" class="settings-values">
        <ion-nav-buttons side="right"> 
          <button class="button button-positive button-clear" ng-click="onClickDone()">Done</button>
        </ion-nav-buttons>

        <ion-content class="">
          <label class="item item-input">
            <input type="text" placeholder="URL" ng-model="getConfig()[this.getSelectedSetting().name]">
          </label>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/geofences/add.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <button class="button button-positive button-clear" ng-click="addGeofenceModal.hide()">Cancel</button>
          <h1 class="title">Add Geofence</h1>
          <button class="button button-positive button-clear" ng-click="onCreateGeofence()">Done</button>
        </ion-header-bar>
        <ion-content >
          <ul class="list">
            <li>
              <label class="item item-input">
                <div class="input-label">Identifier</div>
                <input type="text" ng-model="geofenceRecord.identifier" placeholder="(eg: Home, Office)" ng-required="true">
              </label>
            </li>
            <li>
              <label class="item item-input item-select">
                <div class="input-label">Radius</div>
                <select ng-model="geofenceRecord.radius" placeholder="foo">
                  <option value="100">100</option>
                  <option value="150">150</option>
                  <option value="200">200</option>
                  <option value="250">250</option>
                  <option value="300">300</option>
                  <option value="400">400</option>
                  <option value="500">500</option>
                  <option value="1000">1000</option>
                </select>
              </label>
            </li>

            <li class="item item-checkbox">
              <label class="checkbox">
                <input type="checkbox" ng-model="geofenceRecord.notifyOnEntry">
              </label>
              Notify on ENTRY
            </li>

            <li class="item item-checkbox">
              <label class="checkbox">
                <input type="checkbox" ng-model="geofenceRecord.notifyOnExit">
              </label>
              Notify on EXIT
            </li>
          </ul>

        </ion-content>
      </ion-modal-view>
    </script>

    <script id="templates/geofences/show.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <button class="button button-positive button-clear" ng-click="showGeofenceModal.hide()">Cancel</button>
          <h1 class="title">Show Geofence</h1>
        </ion-header-bar>
        <ion-content >
          <ion-list>
            <ion-item class="item-icon-right">
              Identifier
              <i class="icon icon-accessory" style="padding-right: 1em">{{geofenceRecord.identifier}}</i>
            </ion-item> 
            <ion-item class="item-icon-right">
              Radius
              <i class="icon icon-accessory" style="padding-right: 1em">{{geofenceRecord.radius}}</i>
            </ion-item>
          </ion-list>
          <button class="button button-assertive button-full" ng-click="onRemoveGeofence()">Delete</button>
        </ion-content>
      </ion-modal-view>
    </script>


  </body>
</html>
