// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
//

////
// Palette
// http://paletton.com/#uid=71v1g0ksevShBGumNz+vNqH-7l0

$colors: (
  primary:    #387ef5,
  secondary:  #1D8D00,
  danger:     #CC0119,
  light:      #f4f4f4,
  dark:       #222,
  gold:       #fedd1e,
  light-gold: #FFEB73,
  white: 	  #fff,
  green: 	  #11b700,
  blue: 	  #687DCA
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$list-ios-header-font-size: 1.5rem;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-md-title-text-align: center;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
