page-hello-world {
	ion-content {
		background-color: #272727 !important;
		ion-item {
			ion-label {
				margin: 0 0 0 0 !important;				
			}
			ion-row {
				background-color: #D5B601 !important;
			}			
			background-color: #272727 !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
			.item-inner {
				border-bottom-width: 0 !important;
				padding: 0 !important;
			}
			p {
				color: #272727 !important;
			}	
			p.timestamp {
				width: 100%;
				text-align: right;
				font-size: 12px;
			}		
		}
		
		pre {
			font-size: 12px;
			color: #e6db74;
		}
	}
}
