/* Empty. Add your own CSS if you like */

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

/**
* Blue colored ion-radio
*/
.item-radio.radio-positive .radio-icon    {
  color: #387EF5;
  font-size: 20px;
}

.settings .item-divider {
	padding-top: 1em;
}
.settings .item .current-value {
	position: absolute;
	right: 35px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.settings .item .current-value.setting-url {
	width: 75%;
}
.settings .item .current-value.setting-triggerActivities {
	font-size: 12px;
}
/**
* Hide chevron in ion-item when field is a checkbox
*/
.settings .item.setting-type-checkbox[ng-click] .item-content:after {
	display: none;
}


.settings-values .item-radio input:checked ~ .item-content {
	background-color: #fff;
}



